SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=33106
DB_NAME=peliculas_db
DB_USER=peliculas_user
DB_PASSWORD=peliculas_pass
DB_ROOT_PASSWORD=rootpass

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=peliculas-imagenes
