SERVER_PORT=8080

MYSQL_PORT=3306
MYSQL_DATABASE=peliculas_db
MYSQL_USER=peliculas_user
MYSQL_PASSWORD=peliculas_pass
MYSQL_ROOT_PASSWORD=rootpass

SPRING_DATASOURCE_USERNAME=peliculas_user
SPRING_DATASOURCE_PASSWORD=peliculas_pass
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/peliculas_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_URL_DOCKER=jdbc:mysql://mysql:3306/peliculas_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
